.pricing {
  max-width: 1440px;
  margin: 5rem auto 3rem auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-auto-rows: auto;
  height: 100%;
}

.pricing-left {
  padding: 1rem 4rem;
}

.pricing-left h2 {
  margin-bottom: 2rem;
}

.pricing-left p {
  margin: 1.2rem 0;
  line-height: 1.3;
}

.pricing-btn {
  margin-top: 2rem;
}

.pricing-right {
  width: 100%;
  text-align: center;
}

.pricing-right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  position: relative;
  align-items: flex-start;
  justify-items: center;
}

.img-container .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 6;
}

.img-container .bottom {
  grid-column: 3 / -1;
  grid-row: 1;
  z-index: 5;
  margin-top: 11%;
}

.foto1 {
  max-width: 60%;
  border: 1px solid #959595;
}

.foto2 {
  max-width: 60%;
  border: 1px solid #333333;
}

@media screen and (max-width: 1140px) {
  .pricing {
    grid-template-columns: 1fr;
  }

  .pricing-left {
    margin-bottom: 3rem;
  }

  .pricing-right img {
    max-width: 80%;
  }
}

@media screen and (max-width: 678px) {
  .pricing-left {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 458px) {
  .pricing-left {
    padding: 1rem 1.3rem;
  }
}
